@import "tailwindcss";

/* body{
  background: linear-gradient(rgb(120, 140, 176) 0%, rgb(174, 185, 212) 100%);
  height: 850px;

} */

@keyframes text-gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-text {
  background-size: 200% 200%;
  animation: text-gradient 3s ease infinite;
}

